#content
  .section
    .container
      .page-header
        %h2 Visitor data
      - @visits.each do |visit|
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              Visit #{visit.id}
          - if visit.registration.present?
            .panel-body
              - registration = visit.registration
              #{registration.name} (#{registration.email})
              %p= registration.extra_info
              


          %table.table.table-hover
            %thead
              %tr
                %th Link ID
                %th Link name
                %th Url

            %tbody
              - visit.link_clicks.each do |link_click|
                %tr
                  %td= link_click.link_css_id
                  %td= link_click.link_name
                  %td= link_click.url