- content_for :title, "Home"

#content
  #section-1.section.section-alt
    .container
      .page-header
        %h2 Section 1
      %p.lead
        Pellentesque eleifend vitae nisl nec euismod. Nunc hendrerit, magna vitae facilisis interdum, erat metus accumsan nisl, vel aliquam massa nisl nec est. Mauris commodo metus nec ex lacinia, sagittis suscipit odio tincidunt. Sed vel dapibus nisl, ornare rhoncus odio. Donec vel imperdiet ex. Suspendisse dictum risus in tellus scelerisque iaculis. Integer aliquam dictum posuere. In neque augue, porttitor facilisis purus ut, pellentesque volutpat tortor. Aenean fermentum ex ac posuere ultrices.
      %p.lead
        Integer viverra, sapien id dapibus egestas, eros mauris tempor metus, eu accumsan risus elit quis elit. Mauris molestie luctus erat. Sed euismod nisl nunc, in eleifend arcu fermentum a. Cras convallis sem et fringilla interdum
  #section-2.section
    .container
      .page-header
        %h2 Section 2
      %p.lead
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean non malesuada ante. Etiam id urna lectus. Mauris ultrices augue vestibulum semper vestibulum. Proin tempus arcu in tempor laoreet. Aenean pulvinar leo non felis hendrerit consequat. Donec vestibulum luctus sagittis.
      %p.lead
        Mauris erat enim, euismod at suscipit id, pellentesque ut risus. Pellentesque nibh justo, laoreet eu aliquam at, imperdiet eu tellus.
      
      .row.work-row
        .col-md-4
          .work
            .work-title.text-center
              = fa_icon 'plane', class: 'big-icon'
              %h3 Imperdiet
            %p
              Nam turpis lacus, blandit id feugiat a, ultrices eu neque. Sed placerat maximus erat, non ornare quam porttitor eu. Integer quam tortor, fermentum at magna in, dapibus convallis est.
            
            %p
              Cras vulputate aliquet hendrerit. Pellentesque #{link_to 'Imperdiet Dolor Hendrerit', 'http://www.sheffield.ac.uk', title: "Pellentesque imperdiet dolor hendrerit mauris suscipit", target: "_blank"}  mauris suscipit, vitae dignissim mi venenatis. Morbi egestas diam at ipsum commodo, quis tristique nulla pharetra.

        .col-md-4
          .work
            .work-title.text-center
              = fa_icon 'train', class: 'big-icon'
              %h3 Cestibulum
            %p
              Pellentesque scelerisque, ipsum sed consectetur facilisis, orci massa interdum mi, sit amet vulputate erat nulla in lorem. Morbi vestibulum at diam ac consequat. 
            %p
              Proin egestas euismod pharetra. Integer malesuada finibus ex vel vehicula. Curabitur sed lorem vehicula, #{link_to 'Imperdiet Dolor Hendrerit', 'http://www.sheffield.ac.uk', title: "Pellentesque imperdiet dolor hendrerit mauris suscipit", target: "_blank"}, lacinia libero ac, pharetra elit. Nunc eget magna semper, convallis justo sit amet, iaculis enim.

        .col-md-4
          .work
            .work-title.text-center
              = fa_icon 'bicycle', class: 'big-icon'
              %h3 Luctus sapien
            %p
              Mauris placerat sapien sed ante imperdiet vestibulum. Aliquam consequat sem et quam convallis, #{link_to 'Imperdiet Dolor Hendrerit', 'http://www.sheffield.ac.uk', title: "Pellentesque imperdiet dolor hendrerit mauris suscipit", target: "_blank"}, ac vestibulum tortor porttitor. Maecenas elit massa, sodales et placerat ut, molestie eu elit. Cras vitae mollis ipsum.
            %p
              Pellentesque bibendum augue egestas lectus iaculis laoreet. Cras viverra accumsan lectus sed luctus. Nulla vel enim erat. Mauris consectetur lobortis est ut bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus.

      .well.well-sm.call-to-action.margin-top-30
        Nunc commodo nibh et pulvinar faucibus. Vestibulum nec, #{link_to 'velit pellentesque', '#section-5', title: "Velit pellentesque", class: 'scroll'}, sollicitudin erat id, accumsan lacus.
  #section-3.section.section-alt
    .container
      .page-header
        %h2 Section 3
      .row
        .col-md-6
          %p.lead
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean non malesuada ante. Etiam id urna lectus. 
          %p.lead Mauris ultrices augue vestibulum semper vestibulum. Proin tempus arcu in tempor laoreet. Aenean pulvinar leo non felis hendrerit consequat. Donec vestibulum luctus sagittis.
        .col-md-6
          %p.lead
            Mauris erat enim, euismod at suscipit id, pellentesque ut risus. Pellentesque nibh justo, laoreet eu aliquam at, imperdiet eu tellus.
          %p.lead
            Maecenas elit massa, sodales et placerat ut, molestie eu elit. Cras vitae mollis ipsum.
      .row.work-row
        .col-md-4
          .work
            .work-title.text-center
              = fa_icon 'plane', class: 'big-icon'
              %h3 Imperdiet
            %p
              Nam turpis lacus, blandit id feugiat a, ultrices eu neque. Sed placerat maximus erat, non ornare quam porttitor eu. Integer quam tortor, fermentum at magna in, dapibus convallis est.
            
            %p
              Cras vulputate aliquet hendrerit. Pellentesque #{link_to 'Imperdiet Dolor Hendrerit', 'http://www.sheffield.ac.uk', title: "Pellentesque imperdiet dolor hendrerit mauris suscipit", target: "_blank"}  mauris suscipit, vitae dignissim mi venenatis. Morbi egestas diam at ipsum commodo, quis tristique nulla pharetra.

        .col-md-4
          .work
            .work-title.text-center
              = fa_icon 'train', class: 'big-icon'
              %h3 Cestibulum
            %p
              Pellentesque scelerisque, ipsum sed consectetur facilisis, orci massa interdum mi, sit amet vulputate erat nulla in lorem. Morbi vestibulum at diam ac consequat. 
            %p
              Proin egestas euismod pharetra. Integer malesuada finibus ex vel vehicula. Curabitur sed lorem vehicula, #{link_to 'Imperdiet Dolor Hendrerit', 'http://www.sheffield.ac.uk', title: "Pellentesque imperdiet dolor hendrerit mauris suscipit", target: "_blank"}, lacinia libero ac, pharetra elit. Nunc eget magna semper, convallis justo sit amet, iaculis enim.

        .col-md-4
          .work
            .work-title.text-center
              = fa_icon 'bicycle', class: 'big-icon'
              %h3 Luctus sapien
            %p
              Mauris placerat sapien sed ante imperdiet vestibulum. Aliquam consequat sem et quam convallis, #{link_to 'Imperdiet Dolor Hendrerit', 'http://www.sheffield.ac.uk', title: "Pellentesque imperdiet dolor hendrerit mauris suscipit", target: "_blank"}, ac vestibulum tortor porttitor. Maecenas elit massa, sodales et placerat ut, molestie eu elit. Cras vitae mollis ipsum.
            %p
              Pellentesque bibendum augue egestas lectus iaculis laoreet. Cras viverra accumsan lectus sed luctus. Nulla vel enim erat. Mauris consectetur lobortis est ut bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus.

      .well.well-sm.call-to-action.margin-top-30
        Nunc commodo nibh et pulvinar faucibus. Vestibulum nec, #{link_to 'velit pellentesque', '#section-5', title: "Velit pellentesque", class: 'scroll'}, sollicitudin erat id, accumsan lacus.
      
 
  #section-4.section
    .container
      .page-header
        %h2 Section 4

      :ruby
        items = [
          { title: 'Lectus',       subtitle: 'Finibus ex vel vehicula', link: '#' },
          { title: 'Bibendum',     subtitle: 'Finibus ex vel vehicula', link: '#' },
          { title: 'Pellentesque', subtitle: 'Finibus ex vel vehicula', link: '#' },
          { title: 'Facilisis',    subtitle: 'Finibus ex vel vehicula', link: '#' },
          { title: 'Malesuada',    subtitle: 'Finibus ex vel vehicula', link: '#' },
          { title: 'Vestibulum',   subtitle: 'Finibus ex vel vehicula', link: '#' },

        ]

      .row
        - items.in_groups_of(2, false).each do |item_group|
          .col-sm-6.col-md-4
            - item_group.each do |person|
              .person
                .person-icon
                  = fa_icon 'check'
                .person-details
                  .person-name= link_to person[:title], person[:link]
                  .job-title.small.text-muted= person[:subtitle].html_safe

  #section-5.section.section-alt
    .container
      .page-header
        %h2 Section 5
      .row
        .col-md-6      
          .margin-bottom-20
            = link_to "#", target: "_blank" do
              = image_tag "dummy-800x426-colorD3D9DE.jpg", alt: "Placeholder", class: 'img-responsive'
        .col-md-6
          %address.lead
            = link_to '+44 (0)114 222 1888', 'tel:+441142222222'
            %br
            #{mail_to 'no-reply@example.co.uk'}
          %address
            Floor C
            %br
            Example Street
            %br
            Sheffield
            %br
            S1 1XX
            %br
            United Kingdom
          %p
            Pellentesque porta luctus sagittis. Sed efficitur magna et metus consequat tempor. Proin nec diam malesuada, interdum dolor a, tristique lectus.
      
  = render 'layouts/footer'

