!!!
%html
  = render 'layouts/head'

  %body.no-touch{ data: { spy: :scroll, target: "#main-nav" } }
    = render 'layouts/noscript_flash'

    %nav#main-nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button#mobile-nav-btn.navbar-toggle{ data: { target: ".navbar-collapse", toggle: :collapse, type: :button } }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to :root, class: 'navbar-brand scroll' do
            = image_tag 'epigenesys_light_no_subtitle.png', alt: 'epiGenesys - a University of Sheffield company', height: 40

        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            = content_for(:nav_links)
            

    = yield
